.kdev4
*.kdev
*~
*.pro.user
*.o
*moc_*
*.rar
debug/*
release/*
debug
release
object_script.*
minimal.supp
minimalraw.log
*moc_*.cpp*
*.~*
*.pro.*
*.pro.user.*
*.pro.user.*.*
*.pro.user
*qrc_*.cpp
makefile.*
Makefile.*
Makefile*
makefile*
!/Makefile
include/Libs*
.cproject
.project
.settings
*.log
*.cppcheck
*.rc
*.tar.gz
*.svn*
*.vcproj*
*.ipb
*.obj
*.rar
*.pdb
*.suo
*.sln
*.idb
*.ncb
*.exe
*.vsp
*.idb
*.zip
*.o
*.exp
*.htm
*.manifest
*.dll
*vcxproj
*.ipch
*.sdf
*.opensdf
*.ncb
*.xcf
*.gch
*.pack
*.a
./metadata
!*.cpp
!*.h
!*.pro
!*.txt
!*.png
!*.jpg
!src/
*.svn*
*.vcproj*
*.ipb
*.obj
*.rar
*.pdb
*.suo
*.sln
*.idb
*.ncb
*.exe
*.vsp
*.idb
*.zip
*.o
*.exp
*.htm
*.manifest
*.dll
*vcxproj
*.ipch
*.sdf
*.opensdf
*.ncb
*.xcf
*.gch
*.pack
*.a
*.cppcheck
*.autosave
*.blameresult
src/boost/
ui_*.h
src/ui/ui_*.h
*.b
bin/douml
qrc_*.cpp
src/CppReverse/cpp_reverse
/bin/
!/bin/settings.ini
!src/settings_ini.h
/install/
